# Django settings
DEBUG=true/ false
SECRET_KEY=GENERATE_YOUR_SECRET_KEY
ALLOWED_HOSTS=host1,host2,host3
BASE_URL=localhost/ example.com

# Django admin user
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin123

# Postgres user
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres123

# EMAIL
EMAIL_USER=example@gmail.com
EMAIL_PASSWORD=YOUR_EMAIL_PASSWORD
EMAIL_PORT=[587]
USE_TLS=true/ false